/TopicosAvanzados19A/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/MetodosNumericos/build/
/TopicosAvanzados19A/public_html/Karen_Lopéz/MetodosNumericos/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/MetodoBiseccion/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/MetodoBiseccion/build/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Programa4/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Programa05/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Ventas/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Programa07/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Mayus_Minus/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/AngularJS/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/EjemploAngularJS/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Programa09/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Metodo_de_la_secante/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Metodo_de_la_secante/build/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Metodo_Secante/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Metodo_Secante/build/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Formula/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Formula/build/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Programa13/nbproject/private/
/TopicosAvanzados19A/public_html/Karen_Lopéz/Programa14/nbproject/private/