<!DOCTYPE html>
<html>
<head>
	<title>FAVORITOS</title>
	<script type="text/javascript" src="jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="dist/Chart.bundle.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var datos = {
			type: "pie",
			data : {
				datasets :[{
					data : [
						40,
						30,
						15,
						10,
						5,
					],
					backgroundColor: [
						"#F7464A",
						"#46BFBD",
						"#FDB45C",
						"#949FB1",
						"#4D5360"
					],
				}],
				labels : [
					"Pescado frito",
					"Ceviche de pescado",
					"Camaron empanizado",
					"coctel de camaron",
					"ceviche de camaron y pulpo"
				]
			},
			options : {
				responsive : true,
			}
		};
		var canvas = document.getElementById('chart').getContext('2d');
				window.pier = new Chart(canvas, datos);


		setInterval(function(){
			datos.data.datasets.splice(0);
			var newData = {
				backgroundColor : [
					"#F7464A",
					"#46BFBD",
					"#FDB45C",
					"#949FB1",
					"#4D5360"
				],
				data : [getRandom(), getRandom(), getRandom(), getRandom(), getRandom()]
			};

			datos.data.datasets.push(newData);

			window.pie.update();

		}, 5000);

		function getRandom(){
			return Math.round(Math.random() * 100);
		}

	});


	</script>

<script type="text/javascript">

$(document).ready(function(){
	var datos = {
		type: "pie",
		data : {
			datasets :[{
				data : [
					40,
					30,
					15,
					10,
					5,
				],
				backgroundColor: [
					"#F7464A",
					"#46BFBD",
					"#FDB45C",
					"#949FB1",
					"#4D5360"
				],
			}],
			labels : [
				"Pescado frito",
				"Ceviche de pescado",
				"Camaron empanizado",
				"coctel de camaron",
				"ceviche de camaron y pulpo"
			]
		},
		options : {
			responsive : true,
		}
	};
	var canvas = document.getElementById('chart2').getContext('2d');
			window.pier = new Chart(canvas, datos);


	setInterval(function(){
		datos.data.datasets.splice(0);
		var newData = {
			backgroundColor : [
				"#F7464A",
				"#46BFBD",
				"#FDB45C",
				"#949FB1",
				"#4D5360"
			],
			data : [getRandom(), getRandom(), getRandom(), getRandom(), getRandom()]
		};

		datos.data.datasets.push(newData);

		window.pie.update();

	}, 5000);

	function getRandom(){
		return Math.round(Math.random() * 100);
	}

});

</script>
</script>

</head>
<body style="background-color:CORAL;">
	<!--El <canvas>elemento HTML se utiliza para dibujar gráficos sobre la marcha, a través de JavaScript.-->
<div class="global-container col-sm-12" align="center">
    <h1 alingh="right">COMIDAS MAS DEMANDADAS DEL MES </h1>
  <div id="canvas-container"  alingh="center" style="width:50%;">
  		<canvas id="chart" width="500" height="350"></canvas>
  	</div>

    <h1 alingh="center">BEBIDAS MAS DEMANDADAS DEL MES </h1>
</div>

	<div>
		<div class="global-container col-sm-12" align="center">
		  <div id="canvas-container"  alingh="center" style="width:50%;">
		  		<canvas id="chart2" width="500" height="350"></canvas>
		  	</div>

</div>

</div>
</body>
</html>
