/*DOCTYPE css
Nombre: Jesus Alberto Lira Romero
Profesor: Melquizedec Moo Medina
Programa: Programa14.css
          Hipodromos
Description: Estilos de las diferentes clases y etiquetas de programa14.html
Fecha: 18/mar/2019
*/
body{ /* estilos del body */
  background-image: url(IMG/pista.png); /* imagen de fondo */
  background-position: center center; /* indica que la imagen se centre al fondo */
  background-repeat: no-repeat; /* si la imagen no es del tamaño de la pagina, hace que no se repita */
  background-size: cover; /* tamaño de portada */
  background-attachment: fixed; /* ajustando el tamaño de la imagen al fondo */
}

.titulo{
  text-align: center; /* class="titulo" alineada al centro*/
}

.subtitulo{ /* class="subtitulo" alineada al centro*/
  text-align: center;
}

.caballos{
  wide:60;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position:absolute; top: 200px;
  position:absolute; bottom:20px;
  position:absolute; left:20px;
  position:absolute; right:20px;
}
img:hover{ /* accion al poner el cursor sobre las etiquetas img  */
  transform: scale(0.9); /* efecto de rebote de la imagen al poner el cursor sobre ella */
}

.separador{ /*tamaño del separado*/
  height: 160px;
}

/* fuente, tamaño y estilo de letras de las etuquetas <h>*/
h1{
  font: oblique bold 300% cursive;
}

h3{
  font: oblique bold 200% cursive;
}

h4{
  font: oblique bold 100% cursive;
}
