table{
  width: 50%;
  border-collapse: collapse;
}
table, td, th{
  border: 2px solid black;
}

td, th{
  width: 100px;
  height: 30px;
}
th{
  text-align: center;
  vertical-align: top;
}
td{
  text-align: center;
  vertical-align: bottom;
}
tfoot td{
  text-align: center;
}

body{
  background: #00D3BC;
}