/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/03/2019, 01:20:15 PM
    Author     : jesus
*/
body{
  background-image: url(IMG/pista.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.titulo{
  text-align: center;
}

.subtitulo{
  text-align: center;
}

.caballos{
  wide:60;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position:absolute; top: 200px;
  position:absolute; bottom:20px;
  position:absolute; left:20px;
  position:absolute; right:20px;
}
img:hover{
  transform: scale(0.9);
}

.separador{
  height: 160px;
}

h1{
  font: oblique bold 300% cursive;
}

h3{
  font: oblique bold 200% cursive;
}

h4{
  font: oblique bold 100% cursive;
}