<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine on
RewriteBase /Restaurante/FrontEnd
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ Index.php?url=$1 [QSA,L]
</IfModule>
