.todo {
}
#cabecera {
	opacity: 1;
	text-align: center;

}
#contenido {
	min-height: 401px;

}
#footer {
}
#img1 {
	height: 20%;
	width: 100%;

}
#img2 {
	height: 30%;
	width: 100%;
}
body {
}
